<div class="container">
  <div class="card card-container">
    <div class="alert alert-warning">
      Ще ви изпратим link за промяна на пароалта по email.
    </div>
    <div ng-show="error.show">
      <span class="help-block">{{error.message}}</span>
    </div>
    <form class="form-signin"  ng-submit="vm.lostPassword()">
      <span id="reauth-email"></span>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="vm.userData.email" required autofocus>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Изпрати</button>
    </form>
  </div>
</div>
